pip==22.0.4
bump2version==1.0.1
wheel==0.37.1
watchdog==2.1.7
flake8==4.0.1
tox==3.24.5
coverage==6.3.2
Sphinx==4.5.0
twine==3.8.0
httpx==0.22.0
python-dotenv==0.20.0
polling2==0.5.0
furo==2022.03.04
types-dataclasses

pytest==7.1.1
pytest-httpx==0.20.0
