pip==22.0.2
bump2version==1.0.1
wheel==0.37.1
watchdog==2.1.6
flake8==4.0.1
tox==3.24.5
coverage==6.3
Sphinx==4.4.0
twine==3.4.2
httpx==0.22.0
python-dotenv==0.19.0
pydantic==1.9.0
phonenumbers==8.12.42
polling2==0.5.0


pytest==6.2.5
pytest-runner==5.3.1
pytest-httpx==0.13.0
